h1, h2, h3{
  text-align: center;
}

button.startButton {
  margin: 10px auto;
  display: flex;
  background-color: black;
  color: white;
}

svg {
  margin: 0 auto;
  display: flex;
}

p {
  font-size: 1.70rem;
  text-align: center;
}
